.Hand {
  display: inline-block;
  width: 207px;
  height: 207px;
  text-align: center;
  background-image: url("./assets/yellow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.Hand-icon {
  opacity: 0.87;
  width: 70px;
  height: 70px;
  margin: 70px auto 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Hand.winner {
  background-image: url("./assets/yellow-win.svg");
}

.HandButton {
  width: 166px;
  height: 166px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./assets/purple.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.HandButton-icon {
  opacity: 0.45;
  width: 55px;
  height: 55px;
}

.HandButton .HandButton-icon {
  opacity: 0.45;
  width: 55px;
  height: 55px;
}

.HandButton-icon {
  opacity: 0.45;
  width: 55px;
  height: 55px;
}

.HandButton:hover {
  background-image: url("./assets/yellow.svg");
}

.HandButton:hover .HandButton-icon {
  opacity: 0.87;
}
